# Question 2
- Under package Gutenberg get content from file 'melville-moby_dick.txt.'
- Find out frequency of 26 characters. (Turn uppercase into lowercase and count as one character)
- List all 26 characters in order base on their frequency. (From most frequent to least frequent)

In [1]:
import pandas as pd
from nltk.corpus import gutenberg
print('Under gutenberg package of NLTK in file melville-moby_dick.txt data: ')
raw_data = gutenberg.raw('melville-moby_dick.txt')
print(raw_data[5000:6000])

Under gutenberg package of NLTK in file melville-moby_dick.txt data:
r things, whether beast or vessel, that
enter into the dreadful gulf of this monster's (whale's) mouth, are
immediately lost and swallowed up, the sea-gudgeon retires into it in
great security, and there sleeps." --MONTAIGNE.  --APOLOGY FOR
RAIMOND SEBOND.

"Let us fly, let us fly!  Old Nick take me if is not Leviathan
described by the noble prophet Moses in the life of patient Job."
--RABELAIS.

"This whale's liver was two cartloads." --STOWE'S ANNALS.

"The great Leviathan that maketh the seas to seethe like boiling
pan." --LORD BACON'S VERSION OF THE PSALMS.

"Touching that monstrous bulk of the whale or ork we have received
nothing certain.  They grow exceeding fat, insomuch that an
incredible quantity of oil will be extracted out of one whale."
--IBID.  "HISTORY OF LIFE AND DEATH."

"The sovereignest thing on earth is parmacetti for an inward bruise."
--KING HENRY.

"Very like a whale." --HAMLET.

"Which to secure, no skill of leach's art
Mote him availle

In [2]:
char_dict = {} # Initialise an Empty Dictionary
all_lower_charlist = [] # Initialise an Empty List just to fascilitate use of FreqDist package, no actual use here
for a in raw_data:
    if a.isalpha(): # to check only alphabetical characters in raw file
        lower_char = a.lower()
        all_lower_charlist.append(lower_char) # Added lower characters to check use of FreqDist package
        char_cnt = char_dict.get(lower_char)
        if char_cnt is None:
            char_dict[lower_char] = 1
        else:
            char_dict[lower_char] = char_cnt + 1

import operator       
sorted_tuple = sorted(char_dict.items(), key=operator.itemgetter(1), reverse=True) # Sort Dictionary on the basis of values
print('In file melville-moby_dick.txt Most Frequent Alphabetical Character and their count')
df = pd.DataFrame(data=sorted_tuple[0:26], index=range(1, len(sorted_tuple[0:26]) + 1), columns=['Most Frequent Alphabetical Character','Count'])
#print(tabulate(sorted_tuple[0:26], headers=['Most Frequent Alphabetical Character','Count'])) #Another way of representing the data
df.style

In file melville-moby_dick.txt Most Frequent Alphabetical Character and their count

# Comparing the above result with the package FreqDist to check accuracy

In [3]:
from nltk.probability import FreqDist
fdist1 = FreqDist(all_lower_charlist)
print('In file melville-moby_dick.txt Most Frequent Alphabetical Characters and their count')
data = fdist1.most_common(26)
df = pd.DataFrame(data=data, index=range(1, len(data) + 1), columns=['Most Frequent Alphabetical Character','Count'])
df.style # Styles the dataframe with index and Column names, border
#print(tabulate(data, headers=['Most Frequent Alphabetical Character','Count'])) #List of Top 10 most frequest words/ Another way of representing the data

In file melville-moby_dick.txt Most Frequent Alphabetical Characters and their count

# We got the same result in both methods, but using FreqDist is more elegant