# Question 6
- Under Inaugural Address package
- For every president, find out how many unique words they used in speech. 
- We will just assume that President Bush means one person

In [1]:
import pandas as pd
from nltk.corpus import inaugural
from nltk.probability import FreqDist
import operator 

def getPresidentName(name): # returns name of the president from file name
    return name[5:len(name) - 4]

speech_dict = {} # A dictionary for having key as name of president and value as unique words count
for file in inaugural.fileids():
    name = getPresidentName(file)
    word_cnt = speech_dict.get(name)
    if word_cnt is None:
        speech_dict[name] = len(set(inaugural.words(file)))
    else:
        speech_dict[name] = word_cnt + len(set(inaugural.words(file)))
        
sorted_tuple = sorted(speech_dict.items(), key=operator.itemgetter(1), reverse=True) # Sort Dictionary on the basis of values
print('Unique words by each president in sorted order:')
df = pd.DataFrame(data=sorted_tuple, index=range(1, len(sorted_tuple) + 1), columns=["President", "Unique Words Count"])
df.style

Unique words by each president in sorted order: