# Question 7
- Use Name corpus, calculate the probability of a name being of a male or female base on the last character(s) of name.
- Do this for all characters.

In [1]:
import pandas as pd
import operator
from nltk.corpus import names

def getNameDictionary(filename): # function that returns dictionary with key as character and value as number of names ending with that character
    gender_dict = {}
    for name in names.words(filename):
        if name[-1] is ' ':
            continue;
        count = gender_dict.get(name[-1])
        if count is None:
            gender_dict[name[-1]] = 1
        else:
            gender_dict[name[-1]] = count + 1
    
    return gender_dict    

male_dict = getNameDictionary('male.txt')
female_dict = getNameDictionary('female.txt')
    
total_names_dict = {k: male_dict.get(k, 0) + female_dict.get(k, 0) for k in male_dict} # Sum of names for both males and females
male_prob_dict = {k: int(100 *(100 * (male_dict.get(k, 0) / total_names_dict.get(k, 1))) + 0.5)/100 for k in male_dict}

'''
Probability of name being male = 100 * male_names / total_names
Adding 0.5 to limit the output two places after decimal
'''

sorted_tuple = sorted(male_prob_dict.items(), key=operator.itemgetter(1), reverse=True) # Sort Dictionary on the basis of values
df = pd.DataFrame(data=sorted_tuple, index=range(1, len(sorted_tuple) + 1), columns=["Character", "Probability that end character suggests gender Male"])
df['Probability that end character suggests gender Female'] = 100 - df["Probability that end character suggests gender Male"]
#Adding 3rd column in Dataframe by subtracting existing column values from 100 
print("Probability of a name being of a male or female based on the last character(s) of name: ")
print("'q' is not the last character for name of any gender")
df.style

Probability of a name being of a male or female based on the last character(s) of name:
'q' is not the last character for name of any gender