# Question 8

- Use nps_chat and wordlist corpus.
- If you find a word in nps_chat but not in wordlist, it is considered an unusual word. (e.g. Heyyyy, gr8, 4ever can be considered unusual words for this analysis)
- Find out how many unusual words people speak in chat (notice: usernames should not be counted)
- Bonus: What if I want to  count : ) , : ( all these emoticons in. (optional)

In [7]:
import pandas as pd
from nltk.corpus import names, stopwords, words
from nltk.corpus import nps_chat
from nltk.probability import FreqDist

final_words_set = set()
final_chat_set = set()
unusual_words_set = set()
for filename in names.fileids():
    final_words_set = final_words_set.union(set(list(names.words(filename)))) #words in names wordlist

for filename in stopwords.fileids():
    final_words_set = final_words_set.union(set(list(stopwords.words(filename)))) #words in stopwords wordlist
    
for filename in words.fileids():
    final_words_set = final_words_set.union(set(list(words.words(filename)))) #words in words wordlist

for filename in nps_chat.fileids():
    final_chat_set = final_chat_set.union(set(list(nps_chat.words(filename)))) #words in chat wordlist
    
unusual_words_set = final_chat_set - final_words_set # unusual = chat - normal words
print("Unusual words that people speak in chat: ",len(unusual_words_set))

Emoticons_Set = set([
    ':-)', ':)', ';)', ':o)', ':]', ':3', ':c)', ':>', '=]', '8)', '=)', ':}',
    ':^)', ':-D', ':D', '8-D', '8D', 'x-D', 'xD', 'X-D', 'XD', '=-D', '=D',
    '=-3', '=3', ':-))', ":'-)", ":')", ':*', ':^*', '>:P', ':-P', ':P', 'X-P',
    'x-p', 'xp', 'XP', ':-p', ':p', '=p', ':-b', ':b', '>:)', '>;)', '>:-)',
    '<3', ':L', ':-/', '>:/', ':S', '>:[', ':@', ':-(', ':[', ':-||', '=L', ':<',
    ':-[', ':-<', '=\\', '=/', '>:(', ':(', '>.<', ":'-(", ":'(", ':\\', ':-c',
    ':c', ':{', '>:\\', ';('
    ])

special_chars = []
for filename in nps_chat.fileids():
    special_chars = special_chars + [word for word in list(nps_chat.words(filename)) if not word.isalpha() and word in Emoticons_Set]
    # All special chars in chat which are not alphabetic and belongs to the Emoticons_Set
fdist1 = FreqDist(special_chars)
print('The emoticons and their count: ')
df = pd.DataFrame(data=fdist1.most_common(len(fdist1)), index=range(1, len(fdist1) + 1), columns=['Most Frequent emoticon','Count'])
df.style

Unusual words that people speak in chat:  3585
The emoticons and their count